.container {
   height: 100%;
   background: #720101;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   height: 20rem;
   width: 30rem;
   margin: auto;
   background-color: rgb(235, 235, 235);
   padding: 4rem 1rem;
   border-radius: 1rem;
}

.login-space {
   height: 50%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 {
   font-size: 2rem;
   text-align: center; 
   margin: 0;
}

.full-width {
   width: 100%;
}

mat-icon {
   opacity: .6;
}

