<mat-card class="mat-elevation-z8 card">
    <mat-card-header>
      <mat-card-title>Jewels Catalog</mat-card-title>
      <mat-card-subtitle class="card">portfólio</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/logo-icons/logo-editor.svg" alt="home-img">
    <mat-card-content>
      <p>
       Olá, seja bem vindo ao sistema MRC-jewels-catalog desenvolvido por
        mim com intenção de ser uma página de pórtfolio.<br/>
        Esse é um sistema para o gerenciamento de um catálogo de joias online 
        desenvolvido em Angular 12 e springboot 3.<br/>
        O sistema está rodando na nuvem sendo o front na Vercel e o back na railway.<br />
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
        Tokens JWT e muito mais.<br/> O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
        <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
        <br /> Autor: Marcos Andrade
      </p>
    </mat-card-content>
  </mat-card>
  