.container {
    height: 100%;
 }
 
 .sidenav {
    width: 13rem;
    color: rgb(90, 237, 131);
    background-color: rgb(31, 23, 23);
 }
 
 .sidenav a {
    color: rgb(90, 237, 131);
 }
 
 .sidenav i {
    margin-right: .6rem;
 }
 
 .menu {
    margin: 1rem 0 0 1rem;
    color: rgb(90, 237, 131);
    background: rgb(31, 23, 23);
 }