.container {
    height: 100%;
 }
 
 .sidenav {
    width: 13rem;
    color: white;
    background: #720101;
 }
 
 .sidenav a {
    color: white;
    font-size: 0.85rem;
    margin-top: .8rem;
 }
 
 .sidenav i {
    margin-right: .6rem;
 }

 .menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: #720101;
 }